.card_wrapper {
    padding: 10px 15px;
}
.card {
    background-color: #edbb74;
    padding: 10px 10px;
}

.soft-card {
    background-color: #edd8c1;
}

.card_container {
    border-style: solid;
    border-width: thin;
    border-color: #edad57;
}

.padded_container {
    padding: 10px 20px;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.processing_background {
    background-color: gray;
}
.wrong_background {
    background-color: red;
}
.valid_background {
    background-color: green;
}

.processing_color {
    color: gray;
}
.wrong_color {
    color: red;
}
.valid_color {
    color: green;
}